<p class="header">
  <a href="{{site.baseurl}}">Home</a> <br /> 
  <a href="{{site.baseurl}}/#display-technologies">Display Technologies</a> <br /> 
  <a href="{{site.baseurl}}/#driver-technologies">Driver Technologies</a> <br /> 
  <a href="{{site.baseurl}}/#control-protocols">Control Protocols</a> <br /> 
  <a href="{{site.baseurl}}/#display-libraries-for-arduino">Display Libraries for Arduino</a> <br /> 
  <a href="{{site.baseurl}}/TFT_Examples">TFT LCD Examples</a> <br /> 
  <a href="{{site.baseurl}}/OLED_Examples">OLED Examples</a><br /> 
  <a href="{{site.baseurl}}/EPaper_Examples/">ePaper Examples</a><br /> 
  <a href="{{site.baseurl}}/LED_8x8_Matrix_examples/">8x8 LED Matrix examples</a><br /> 
  <a href="{{site.baseurl}}/qrcodes">QR Code Examples</a><br /> 
 
  <a href="{{site.baseurl}}/inventory.html">Inventory</a><br /> 
</p>